/build.xml
/nbproject/
/Bitrockimages/
/dist/
/build/
/manifest.mf
/derby.log
/test.db
/chromispos.xml
/chromispos.xml.backup
/src-pos.zip
/src-beans/src/main/java/uk/chromis/fixedimages/Thumbs.db
chromispos.jar
/chromisLiquibase.log
/log4j.xml
build/
.gradle
.idea
.DS_Store
